/* mdn css tutorial its a website to learn about all the information */
h1{
    color: 
    rgb(209, 141, 57);
}
button{
    color:blue;
    background-color: aquamarine;
}
body{
    background-color: beige;

}
button1{
    background-color: brown;
    border-color: black;
    
}
*{
    color: black;

   
}
#heading3{
    color: blue;
}

.myclass{
    color: crimson;
}
#box {
    color: cornflowerblue;
    background-color: rgb(233, 192, 27);
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
}
.heading {
    color: blue;
    background-color: cadetblue;
    
}
#headingclass {
    background-color: rgb(76, 73, 73);
}
/* can use star=left,right=end in css3 because of exisiting languages such as urdu */
#ohno {
    text-align: center;
    
}
/* there exists something called font-weight ranges from 100 -900 (greater than 400 is bolder */
#chotu {
    /* font family has fall back we can apply another font if the first one is not applied(comes into existence when one font does not exist */
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    text-decoration: overline;
    text-decoration: green dotted underline;
}

/* removes underline in anchor tag */
a{
    text-decoration: none;
}

/* line height is the distance btween different lines  */
#p1 {
    font-size: 25px;
    line-height: 5px;

}
#p2 {
  font-size: 30px;
}
#p3 {
    font-size: 10px;
}